In [1]:
import sys
sys.path.append('..')
from pathlib import Path
from src.data_processing.data_processor import DataProcessor
from src.data_processing.data_analyzer import DataAnalyzer
from src.data_processing.data_report import DataReport

In [2]:
path = Path(r'C:\Users\tamanna.rajput\Documents\data\PrognoseBucket\maksi\umleitungs_zuglaeufe\2023_07_30_1.parquet')
#df = DataProcessor.read_data_file(file_path=path)
da = DataAnalyzer(DataProcessor.read_data_file, file_path=path)

In [3]:
da.df

,DS_100_VON,DS_100_BIS,VZG_STRECKEN_NR,STUNDE,VERKEHRSTAG,ZUGNUMMER,RICHTUNG,ANKUNFT,ABFAHRT,HALTART,UMLEITUNG,TEC_AWS_SFN_EXECUTION_ID,TEC_ID,TEC_PREV_ID,SGV,SPNV,SPFV,SONSTIGE,NENNLEISTUNG
0,aa,ala,1231,6,2024-02-01,9,0,2024-02-01 06:06:48,2024-02-01 06:06:48,Verkehrshalt,0.0,arn:aws:states:eu-central-1:322502042461:execu...,488,NaN,0,0,1,0,7.5625
1,aa,ala,1231,16,2024-02-01,333,0,2024-02-01 16:03:18,2024-02-01 16:03:18,Verkehrshalt,0.0,arn:aws:states:eu-central-1:322502042461:execu...,489,NaN,0,0,1,0,7.5625
2,aa,ala,1231,18,2024-02-01,207,0,2024-02-01 18:11:48,2024-02-01 18:11:48,Verkehrshalt,0.0,arn:aws:states:eu-central-1:322502042461:execu...,490,NaN,0,0,1,0,7.5625
3,aa,ala,1231,8,2024-02-01,107,0,2024-02-01 08:07:48,2024-02-01 08:07:48,Verkehrshalt,0.0,arn:aws:states:eu-central-1:322502042461:execu...,491,NaN,0,0,1,0,7.5625
4,aa,ala,1231,8,2024-02-01,519,0,2024-02-01 08:43:18,2024-02-01 08:43:18,Verkehrshalt,0.0,arn:aws:states:eu-central-1:322502042461:execu...,492,NaN,0,0,1,0,7.5625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992937,alkg,alko,1137,11,2024-02-01,53560,1,2024-02-01 11:07:12,2024-02-01 11:07:12,Durchfahrt,-1.0,arn:aws:states:eu-central-1:322502042461:execu...,19113427,NaN,1,0,0,0,4.3750
992938,nboe,nnit,5803,12,2024-02-01,53928,0,2024-02-01 12:00:00,2024-02-01 12:00:00,Verkehrshalt,-1.0,arn:aws:states:eu-central-1:322502042461:execu...,19113494,NaN,1,0,0,0,1.8750
992939,nboe,nnit,5803,9,2024-02-01,53926,0,2024-02-01 09:35:00,2024-02-01 09:35:00,Verkehrshalt,-1.0,arn:aws:states:eu-central-1:322502042461:execu...,19113496,NaN,1,0,0,0,1.8750
992940,nboe,nnit,5803,10,2024-02-01,53927,1,2024-02-01 10:45:00,2024-02-01 10:45:00,Verkehrshalt,-1.0,arn:aws:states:eu-central-1:322502042461:execu...,19113516,NaN,1,0,0,0,1.9375
992941,nboe,nnit,5803,8,2024-02-01,53925,1,2024-02-01 08:20:00,2024-02-01 08:20:00,Verkehrshalt,-1.0,arn:aws:states:eu-central-1:322502042461:execu...,19113518,NaN,1,0,0,0,1.9375

In [15]:
da.get_column_names_and_datatypes()
da.get_entry_count()
da.get_column_count()
da.get_unique_values_per_column()
da.get_total_missing_values_count()
da.get_missing_values_per_column()
da.check_for_duplicates()
da.check_for_duplicates_by_identifier(identifier_column='DS_100_VON')
da.get_basic_statistics_for_numeric_columns()

,VZG_STRECKEN_NR,STUNDE,ZUGNUMMER,RICHTUNG,UMLEITUNG,TEC_ID,TEC_PREV_ID,SGV,SPNV,SPFV,SONSTIGE,NENNLEISTUNG
count,992942.000000,992942.000000,992942.000000,992942.000000,992942.000000,9.929420e+05,0.0,992942.000000,992942.000000,992942.000000,992942.000000,990940.000000
mean,4190.405389,12.593740,36520.587970,0.499585,-0.930675,9.270063e+06,NaN,0.242394,0.597822,0.124891,0.034892,5.704509
std,1672.666074,6.148631,27573.364724,0.500000,0.284915,5.609373e+06,NaN,0.428531,0.490338,0.330596,0.183507,2.926658
min,1000.000000,0.000000,3.000000,0.000000,-1.000000,4.880000e+02,NaN,0.000000,0.000000,0.000000,0.000000,0.375000
25%,2650.000000,8.000000,10604.000000,0.000000,-1.000000,4.293914e+06,NaN,0.000000,0.000000,0.000000,0.000000,4.125000
50%,4000.000000,13.000000,35323.000000,0.000000,-1.000000,9.097120e+06,NaN,0.000000,1.000000,0.000000,0.000000,5.437500
75%,5850.000000,18.000000,55034.750000,1.000000,-1.000000,1.417894e+07,NaN,0.000000,1.000000,0.000000,0.000000,6.875000
max,9990.000000,23.000000,99831.000000,1.000000,1.000000,1.911352e+07,NaN,1.000000,1.000000,1.000000,1.000000,21.250000