In [1]:
import sys
sys.path.append('..')
from pathlib import Path
from src.data_processing.data_processor import DataProcessor
from src.data_processing.data_analyzer import DataAnalyzer
from src.data_processing.data_report import DataReport

In [2]:
path = Path(r'data\randomdata\randomdata.parquet')
da = DataAnalyzer(DataProcessor.read_data_file, file_path=path)

In [3]:
da.df

,DS_100_VON,DS_100_BIS,VZG_STRECKEN_NR,STUNDE,VERKEHRSTAG,ZUGNUMMER,RICHTUNG,ANKUNFT,ABFAHRT,HALTART,UMLEITUNG,TEC_AWS_SFN_EXECUTION_ID,TEC_ID,TEC_PREV_ID,SGV,SPNV,SPFV,SONSTIGE,NENNLEISTUNG
0,aa,ala,1231,6,2024-02-01,9,0,2024-02-01 06:06:48,2024-02-01 06:06:48,Verkehrshalt,0.0,arn:aws:states:eu-central-1:322502042461:execu...,488,NaN,0,0,1,0,7.5625
1,aa,ala,1231,16,2024-02-01,333,0,2024-02-01 16:03:18,2024-02-01 16:03:18,Verkehrshalt,0.0,arn:aws:states:eu-central-1:322502042461:execu...,489,NaN,0,0,1,0,7.5625
2,aa,ala,1231,18,2024-02-01,207,0,2024-02-01 18:11:48,2024-02-01 18:11:48,Verkehrshalt,0.0,arn:aws:states:eu-central-1:322502042461:execu...,490,NaN,0,0,1,0,7.5625
3,aa,ala,1231,8,2024-02-01,107,0,2024-02-01 08:07:48,2024-02-01 08:07:48,Verkehrshalt,0.0,arn:aws:states:eu-central-1:322502042461:execu...,491,NaN,0,0,1,0,7.5625
4,aa,ala,1231,8,2024-02-01,519,0,2024-02-01 08:43:18,2024-02-01 08:43:18,Verkehrshalt,0.0,arn:aws:states:eu-central-1:322502042461:execu...,492,NaN,0,0,1,0,7.5625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992937,alkg,alko,1137,11,2024-02-01,53560,1,2024-02-01 11:07:12,2024-02-01 11:07:12,Durchfahrt,-1.0,arn:aws:states:eu-central-1:322502042461:execu...,19113427,NaN,1,0,0,0,4.3750
992938,nboe,nnit,5803,12,2024-02-01,53928,0,2024-02-01 12:00:00,2024-02-01 12:00:00,Verkehrshalt,-1.0,arn:aws:states:eu-central-1:322502042461:execu...,19113494,NaN,1,0,0,0,1.8750
992939,nboe,nnit,5803,9,2024-02-01,53926,0,2024-02-01 09:35:00,2024-02-01 09:35:00,Verkehrshalt,-1.0,arn:aws:states:eu-central-1:322502042461:execu...,19113496,NaN,1,0,0,0,1.8750
992940,nboe,nnit,5803,10,2024-02-01,53927,1,2024-02-01 10:45:00,2024-02-01 10:45:00,Verkehrshalt,-1.0,arn:aws:states:eu-central-1:322502042461:execu...,19113516,NaN,1,0,0,0,1.9375
992941,nboe,nnit,5803,8,2024-02-01,53925,1,2024-02-01 08:20:00,2024-02-01 08:20:00,Verkehrshalt,-1.0,arn:aws:states:eu-central-1:322502042461:execu...,19113518,NaN,1,0,0,0,1.9375

In [4]:
"""
da.get_column_names_and_datatypes()
da.get_entry_count()
da.get_column_count()
da.get_unique_values_per_column()
da.get_total_missing_values_count()
da.get_missing_values_per_column()
da.check_for_duplicates()
da.check_for_duplicates_by_identifier(identifier_column='DS_100_VON')
da.get_basic_statistics_for_numeric_columns()
"""

"\nda.get_column_names_and_datatypes()\nda.get_entry_count()\nda.get_column_count()\nda.get_unique_values_per_column()\nda.get_total_missing_values_count()\nda.get_missing_values_per_column()\nda.check_for_duplicates()\nda.check_for_duplicates_by_identifier(identifier_column='DS_100_VON')\nda.get_basic_statistics_for_numeric_columns()\n"

In [5]:
# Create an instance of DataReport with the read_data_file argument
data_reporter = DataReport(DataProcessor.read_data_file, file_path=path)

# Generate the data report
data_report = data_reporter.generate_data_report()

# Pretty print the data report
DataReport.pretty_print(data_report)

{'Basic Statistics for Numeric Columns':        VZG_STRECKEN_NR         STUNDE      ZUGNUMMER       RICHTUNG  \
count    992942.000000  992942.000000  992942.000000  992942.000000
mean       4190.405389      12.593740   36520.587970       0.499585
std        1672.666074       6.148631   27573.364724       0.500000
min        1000.000000       0.000000       3.000000       0.000000
25%        2650.000000       8.000000   10604.000000       0.000000
50%        4000.000000      13.000000   35323.000000       0.000000
75%        5850.000000      18.000000   55034.750000       1.000000
max        9990.000000      23.000000   99831.000000       1.000000

           UMLEITUNG        TEC_ID  TEC_PREV_ID            SGV           SPNV  \
count  992942.000000  9.929420e+05          0.0  992942.000000  992942.000000
mean       -0.930675  9.270063e+06          NaN       0.242394       0.597822
std         0.284915  5.609373e+06          NaN       0.428531       0.490338
min        -1.000000  4.880000e+02          NaN       0.000000       0.000000
25%        -1.000000  4.293914e+06          NaN       0.000000       0.000000
50%        -1.000000  9.097120e+06          NaN       0.000000       1.000000
75%        -1.000000  1.417894e+07          NaN       0.000000       1.000000
max         1.000000  1.911352e+07          NaN       1.000000       1.000000

                SPFV       SONSTIGE   NENNLEISTUNG
count  992942.000000  992942.000000  990940.000000
mean        0.124891       0.034892       5.704509
std         0.330596       0.183507       2.926658
min         0.000000       0.000000       0.375000
25%         0.000000       0.000000       4.125000
50%         0.000000       0.000000       5.437500
75%         0.000000       0.000000       6.875000
max         1.000000       1.000000      21.250000  ,
 'Column Count': 19,
 'Column Names and Data Types': DS_100_VON                          object
DS_100_BIS                          object
VZG_STRECKEN_NR                      int16
STUNDE                                int8
VERKEHRSTAG                 datetime64[us]
ZUGNUMMER                            int32
RICHTUNG                              int8
ANKUNFT                     datetime64[us]
ABFAHRT                     datetime64[us]
HALTART                           category
UMLEITUNG                          float32
TEC_AWS_SFN_EXECUTION_ID            object
TEC_ID                               int32
TEC_PREV_ID                        float32
SGV                                   int8
SPNV                                  int8
SPFV                                  int8
SONSTIGE                              int8
NENNLEISTUNG                       float32
dtype: object,
 'Duplicates Check': False,
 'Duplicates by Identifier Check': True,
 'Entry Count': 992942,
 'Missing Values per Column': DS_100_VON                       0
DS_100_BIS                       0
VZG_STRECKEN_NR                  0
STUNDE                           0
VERKEHRSTAG                      0
ZUGNUMMER                        0
RICHTUNG                         0
ANKUNFT                          0
ABFAHRT                          0
HALTART                          0
UMLEITUNG                        0
TEC_AWS_SFN_EXECUTION_ID         0
TEC_ID                           0
TEC_PREV_ID                 992942
SGV                              0
SPNV                             0
SPFV                             0
SONSTIGE                         0
NENNLEISTUNG                  2002
dtype: int64,
 'Total Missing Values Count': 994944,
 'Unique Values per Column': {'ABFAHRT': <DatetimeArray>
['2024-02-01 06:06:48', '2024-02-01 16:03:18', '2024-02-01 18:11:48',
 '2024-02-01 08:07:48', '2024-02-01 08:43:18', '2024-02-01 17:04:30',
 '2024-02-01 12:07:48', '2024-02-01 18:02:54', '2024-02-01 06:30:30',
 '2024-02-01 18:01:30',
 ...
 '2024-02-01 21:29:10', '2024-02-01 17:25:52', '2024-02-01 07:49:26',
 '2024-02-01 11:37:10', '2024-02-01 07:16:58', '2024-02-02 02:30:42',
 '2024-02-01 06:40:55', '2024-02-01 01:17:33', '2024-02-01 00:53:14',
 '2024-02-01 14:39:09']
Length: 41300, dtype: datetime64[us],
                              'ANKUNFT': <DatetimeArray>
['2024-02-01 06:06:48', '2024-02-01 16:03:18', '2024-02-01 18:11:48',
 '2024-02-01 08:07:48', '2024-02-01 08:43:18', '2024-02-01 17:04:30',
 '2024-02-01 12:07:48', '2024-02-01 18:02:54', '2024-02-01 06:13:06',
 '2024-02-01 16:09:30',
 ...
 '2024-02-01 22:54:34', '2024-02-01 21:29:10', '2024-02-01 17:25:52',
 '2024-02-01 07:49:26', '2024-02-01 11:37:10', '2024-02-01 07:16:58',
 '2024-02-01 06:40:55', '2024-02-01 01:17:33', '2024-02-01 00:53:14',
 '2024-02-01 14:39:09']
Length: 41125, dtype: datetime64[us],
                              'DS_100_BIS': array(['ala', 'aa', 'aar', ..., 'lwpws', 'alkg', 'nnit'], dtype=object),
                              'DS_100_VON': array(['aa', 'aar', 'astz', ..., 'tsu f', 'namd', 'nstl'], dtype=object),
                              'HALTART': ['Verkehrshalt', 'Durchfahrt', 'Trassenmanagementhalt']
Categories (3, object): ['Durchfahrt', 'Trassenmanagementhalt', 'Verkehrshalt'],
                              'NENNLEISTUNG': array([ 7.5625,  5.9375,  5.875 ,  7.5   ,  6.875 ,  6.75  ,  6.125 ,
        6.4375,  7.75  ,  6.3125,  7.875 ,  6.25  ,  8.25  ,  6.625 ,
        6.5   ,  5.375 ,  4.9375,  5.125 ,  5.    ,  5.25  ,  6.9375,
        7.125 ,  7.625 ,  4.75  ,  4.875 ,  4.5   ,  4.6875,  4.4375,
        4.625 ,  4.5625,  8.125 ,  9.375 ,  9.25  ,  8.375 ,  5.5   ,
        7.    ,  8.    ,  2.8125,  2.75  ,  3.5625,  3.625 ,  2.3125,
        1.125 ,  4.8125,  7.25  ,  7.8125,  7.375 ,  5.625 ,  6.8125,
        6.375 ,  5.75  ,  6.    ,  5.8125,  5.1875, 10.875 , 10.6875,
        8.75  , 10.125 ,  8.875 , 10.375 ,  9.    ,  8.9375,  5.4375,
        9.75  , 11.25  ,  6.1875,  5.5625,  6.0625,  5.6875, 10.25  ,
        8.4375,  9.5   ,  9.875 ,  5.3125,  8.5   ,  7.6875, 11.125 ,
        6.6875,  7.1875,  2.9375,  4.375 ,  8.0625,  8.8125,  6.5625,
       11.625 , 10.5   , 10.625 ,  5.0625,  9.625 , 11.6875,  8.625 ,
       10.1875,  7.0625,  3.9375,  4.125 ,  3.8125,  3.875 ,  3.    ,
        7.4375,  4.0625,  9.5625,  9.4375,  3.25  ,  9.6875,  3.75  ,
       12.9375,  4.25  ,  4.1875,  4.    , 12.75  , 12.625 , 10.    ,
        3.125 ,  3.375 ,  8.6875,  8.5625, 14.25  , 11.75  ,  9.1875,
        7.3125,  4.3125,  8.3125,  3.3125,  3.5   ,  7.9375,  9.125 ,
        2.5   ,  2.5625,     nan, 11.875 ,  2.125 , 12.25  , 10.4375,
       10.8125, 13.375 , 14.    , 14.125 ,  9.3125, 14.625 , 13.6875,
       16.375 , 10.0625,  3.1875, 13.125 ,  2.375 , 16.875 ,  1.625 ,
       13.875 ,  8.1875, 11.    ,  1.75  ,  2.625 , 13.25  , 16.125 ,
        9.0625, 12.875 , 11.9375, 11.4375, 11.1875,  3.6875, 11.5   ,
        9.8125,  1.25  ,  1.4375, 11.3125, 12.0625,  3.4375, 17.8125,
       14.375 ,  3.0625, 12.5   , 11.375 ,  2.875 , 14.1875,  2.25  ,
        2.0625,  1.875 ,  1.5625,  2.4375, 13.5625, 12.    ,  1.5   ,
        2.    ,  2.1875, 11.8125, 11.5625, 13.1875, 11.0625, 17.875 ,
       12.125 , 10.5625,  2.6875,  1.8125,  1.6875, 15.625 , 10.75  ,
        9.9375, 13.3125,  1.    ,  1.9375,  1.1875,  1.375 , 16.25  ,
       12.5625, 16.75  , 17.    ,  1.3125, 13.625 , 13.5   , 17.5   ,
        1.0625, 13.4375, 15.25  , 21.1875, 21.25  , 20.375 , 19.875 ,
        0.9375, 14.9375, 15.    ,  0.8125,  0.875 , 19.5   , 19.5625,
       20.    , 21.125 , 17.375 , 17.75  , 13.75  , 15.8125, 12.375 ,
       10.3125, 14.875 , 13.9375,  0.75  , 13.    , 10.9375, 14.4375,
       14.5   , 12.1875, 18.875 , 16.9375, 17.4375, 16.5   , 12.3125,
       18.375 ,  0.625 , 15.5625, 12.8125, 15.375 ,  0.4375, 15.875 ,
       20.25  ,  0.5   ,  0.375 , 15.3125, 18.125 ], dtype=float32),
                              'RICHTUNG': array([0, 1], dtype=int8),
                              'SGV': array([0, 1], dtype=int8),
                              'SONSTIGE': array([0, 1], dtype=int8),
                              'SPFV': array([1, 0], dtype=int8),
                              'SPNV': array([0, 1], dtype=int8),
                              'STUNDE': array([ 6, 16, 18,  8, 17, 12,  1, 22,  4, 23, 19,  3,  9, 20,  2,  7, 10,
       13,  0,  5, 21, 11, 14, 15], dtype=int8),
                              'TEC_AWS_SFN_EXECUTION_ID': array(['arn:aws:states:eu-central-1:322502042461:execution:bldbnekatana-maksi-2_1_2_abn:56b2e1f9-9f47-457b-96de-d0ca8bfc9599'],
      dtype=object),
                              'TEC_ID': array([     488,      489,      490, ..., 19113496, 19113516, 19113518]),
                              'TEC_PREV_ID': array([nan], dtype=float32),
                              'UMLEITUNG': array([ 0.,  1., -1.], dtype=float32),
                              'VERKEHRSTAG': <DatetimeArray>
['2024-02-01 00:00:00']
Length: 1, dtype: datetime64[us],
                              'VZG_STRECKEN_NR': array([1231, 6100, 2200, ..., 6272, 7893, 5803], dtype=int16),
                              'ZUGNUMMER': array([    9,   333,   207, ..., 53926, 53927, 53925])}}